<p>Добро пожаловать, {{ full_name }}!</p>
<p>Вы успешно зарегестрировались на <a href="www.satisfaction.kz">www.satisfaction.kz</a><br>
Ваш логин: {{ username }}<br>
Пароль: {{ password }}</p>
<p>Для активации аккаунта пройдите по <a href="www.satisfaction.kz/auth/activate/{{ activation_key }}/">ссылке</a></p>
<p><i>С уважением,<br>
Разработчик платформы www.satisfaction.kz</i></p>