<p>Здравствуйте, {{ full_name }}!</p>

<p>Статус вашей жалобы <a href="www.satisfaction.kz/complaint/view/{{ complaint_id }}/">"{{ title }}"</a> был успешно обновлен на <strong><i>"{{ status_name }}"</i></strong></p>
<p>
Сообщение от исполнителя:<br>
<i>"{{ manager_text }}"</i>
</p>

<p><i>С уважением,<br>
Разработчик платформы www.satisfaction.kz</i></p>