<p>Здравствуйте, {{ full_name }}!</p>

<p>Вы успешно сбросили пароль на www.satisfaction.kz<br/>
Теперь ваш логин: {{ username }}<br/>
Пароль: {{ password }}</p>
<p>Советуем вам поменять пароль после авторизации на платформу. Это можно сделать в меню в правом верхнем углу.</p>

<p>С уважением,<br/>
Разработчик платформы www.satisfaction.kz</p>