<div class="comment">
    <div class="comment-header">
        <span class="comment-author">{{ comment.user.first_name }} {{ comment.user.last_name }}</span>
        <span class="comment-date">{{ comment.date_created|date:"H:i:s d/m/Y" }}</span>
    </div>
    <div class="comment-body">{{ comment.text|linebreaks }}</div>
</div>