{% if category_list %}
    <option value="0">Выберите подкатегорию</option>
    {% for category in category_list %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
{% endif %}