{% extends 'report.html' %}

{% block title %} Статистика в разрезе по категориям региона "{{ region.name }}" за период с {{from|date:"d/m/Y"}} по {{to|date:"d/m/Y"}} {% endblock %}

{% block stat_title %}
<h3>Статистика в разрезе по категориям региона "{{ region.name }}" за период с {{from|date:"d/m/Y"}} по {{to|date:"d/m/Y"}}</h3>
<hr>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/category.report.js"></script>
{% endblock %}