.signup-form .error {color: red}
.header {padding-top: 10px;text-align:right;padding-right:20px;padding-bottom: 20px;}
.controls textarea,input, select {padding: 5px}
.input-xlarge{width: 400px;}
.arrow {
    background: url("../img/icon-arrow-toggle.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0) !important;
    float: left;
    height: 15px;
    width: 22px;
}
.arrow-up {background-position: 0 -100px !important;}
.arrow-down {background-position: 0 -60px !important;}
h4 {cursor: pointer}
.comment {border:1px solid #DDDDDD;border-radius:5px;margin-bottom:5px;}
.comment-header {padding:5px; border-bottom: 1px solid #DDDDDD;background: #F9F9F9;font-weight: bold;}
.comment-date {float: right;}
.comment-author {}
.comment-body {padding: 5px;}
.comment-body textarea{width: 100%;padding:5px;}
.checkbox-hint{padding-left: 5px;}
.panel-sort {float:right;}
.panel-sort-item{margin-right: 10px;}
.clear {clear:both;}
.underline {text-decoration: underline;}
#comment_menu{margin-bottom:20px;}
.rate-pnl{margin-top: 20px;}
#rate-target{margin-left: 20px;font-size:16px;font-style:italic;font-weight:bold;}
.city-stat{font-size:18px;float: left; width: 50%;margin-bottom: 10px;txt-align:center;}
.square{width: 10px;height:10px;float:left;margin:5px;}
.ajax-response{padding-top: 15px; color:green;font-style:italic;font-size: 14px;display:none}
.footer{margin-top:10px;margin-bottom:10px;text-align:center;}
li {list-style-type: none;}
button a {color:white;}
button a:hover {color:white;}
.password-forgot{font-size:12px;color:black;text-decoration:underline;}
.footer a {text-decoration:underline;}