{% extends 'base.html' %}
{% block title %}  Наши контактные данные {% endblock %}

{% block content %}
        <h2>Наши контактные данные</h2>
        <h3>По вопросам сотрудничества</h3>
        <p>Директор проекта: Артык Кузьмин<br/>
        Email: <a href="mailto:artikkuzmin@gmail.com">artikkuzmin@gmail.com</a></p>
        <hr/>
        <h3>По техническим вопросам </h3>
        <p>Инженер проекта: Дархан Имангалиев<br/>
        Email: <a href="mailto:darkhan.imangaliev@gmail.com">darkhan.imangaliev@gmail.com</a></p>
        <hr/>
        <h3>Офис "Executive Consulting"</h3>
        <p>Адрес: Алматы 050013, Площадь Республики 15, офис 535</p>
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=AKtCFyTc712G5mknrg7GkXlziireBYVP&width=800&height=450"></script>
        <hr/>
{% endblock %}
