<div>
    <hr>
    <h3>Выберите даты для генерации отчета</h3>
    <input type="text" id="date-from" class="datepicker" value="{{ from|date:'d/m/Y' }}"/> - <input type="text" id="date-to" class="datepicker" value="{{ to|date:'d/m/Y' }}"/>
    <input type="button" class="btn btn-success" value="Сгенерировать" id="generate-report-btn">
    <input type="hidden" id="generate-url" value="{{value}}">
</div>