<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

	{% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <title>
            {% block title %}Жалобы на Казахтелеком{% endblock %}
        </title>
        {% block css%}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.raty.css' %}">
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    {% if user.is_authenticated %}
                        <a class="navbar-brand" href="{% url 'complaint:my' 1 %}">Казахтелеком</a>
                    {% else %}
                        <a class="navbar-brand" href="{% url 'auth:signin' %}">Казахтелеком</a>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Здравствуйте, {{ user.username }} <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'complaint:add' %}">Пожаловаться <(-.-)></a></li>
                            <li><a href="{% url 'complaint:my' 1 %}">Список моих жалоб</a></li>
                            {% if user.profile.is_head %}
                                <li><a href="{% url 'complaint:rating_kz_report' '01-08-2014' '30-09-2014' %}">Статистика по стране</a></li>
                            {% elif user.profile.is_manager %}
                                <li><a href="{% url 'complaint:manage' 1 %}">Жалобы по региону</a></li>
                                <li><a href="{% url 'complaint:region_report' user.profile.region_id '01-08-2014' '30-09-2014' %}">Статистика по региону</a></li>
                            {% elif user.profile.is_executor %}
                                <li><a href="{% url 'complaint:manage' 1 %}">Жалобы адресованные мне</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'auth:pchange' %}">Изменить пароль</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                {% else %}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'auth:signin' %}">Войти</a></li>
                            <li><a href="{% url 'auth:signup' %}">Зарегестрироваться</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>

        <div class="container" >
            {% block content %} {% endblock %}
        </div>

        <div class="footer">
            <hr>
            <span>2014 © «Executive Consulting»</span>
            <span style="margin-left: 20px"><a href="/about/">Контакты</a></span>
        </div>

        {% block mustjs %}
        <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
        <script src="{% static 'js/jquery.ui.js' %}"></script>
        <script src="{% static 'js/jquery.ui.datepicker-ru.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.raty.js' %}"></script>
        <script type="text/javascript">
            var ERROR_MESSAGE = "Упс, что-то пошло не так:( Сообщите об этой ошибке разработчику, прикрепите к отчету скриншот страницы";
             $(".datepicker" ).datepicker( $.datepicker.regional[ "ru" ] );
             $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                showAnim: 'drop'
             });

             $("#generate-report-btn").click(function(e){
                if ($('#generate-url').length == 0) return;
                var url = $('#generate-url').val() + '/' + $('#date-from').val().split("/").join("-") + '/' + $('#date-to').val().split("/").join("-") + '/';
                window.location.href = url;
             })

             function getCookie(name){
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?

                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
             }
        </script>
        {% endblock %}
        {% block js %} {% endblock %}

    </body>
</html>

