{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}

{% block stat_title %}
{% endblock %}

{% include 'chart.html' with values=values categories=categories width=width height=height%}
{% block city_chart %}{% endblock %}
<input type="hidden" id="region_id" value="{{region.id}}"/>
<input type="hidden" id="from" value="{{from|date:'d-m-Y'}}"/>
<input type="hidden" id="to" value="{{to|date:'d-m-Y'}}"/>

{% include 'bar_report.html' with value=url from=from to=to %}
<hr>
{% block city %}

    <h3>Статистика в городах "{{ region.name }}" за период с {{from|date:"d/m/Y"}} по {{to|date:"d/m/Y"}}</h3>
    <hr>
    {% for city in city_list %}
        <div class="city-stat">
            <img src="/static/img/loader.gif" style="visibility:hidden" id="{{city.id}}_loader"/>
            {{city.name}}
            <a data-stat="{{ city.id }}_stat" href="#">(статистика)</a>
            <div id="{{ city.id }}_menu" style="display:none;"></div>
        </div>
    {% endfor %}
    <hr>
{% endblock %}
{% endblock %}

{% block js %}
{% endblock %}

