{% extends 'base.html' %}

{% block title %} Список жалоб на которые вы подписаны {% endblock %}

{% block content %}
<h2>Список жалоб на которые вы подписаны</h2>
<hr>
{% if complaint_list %}
      <div class="panel-sort">
          <span class="panel-sort-item">Новые жалобы</span>
          <span class="panel-sort-item">Последние измененные жалобы</span>
      </div>
      <table id="cars" class="table table-striped table-bordered table-condensed table-hover">
          <tr>
              <th>Заголовок жалобы</th>
              <th>Категория жалобы</th>
              <th>Текущий статус</th>
              <th>Дата подачи жалобы</th>
              <th>Регион, Город</th>
          </tr>
        {% for complaint in complaint_list %}
            <tr>
                <td><a href="{% url 'complaint:view' complaint.id %}">{{ complaint.title }}</a></td>
                <td>{{ complaint.category.name }}</td>
                <td>{{ complaint.status.name }}</td>
                <td>{{ complaint.date_created|date:"d/m/Y H:i:s" }}</td>
                <td>{{ complaint.region.name }}, {{ complaint.city.name }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <ul class="pagination center">
          {% if page_obj.has_previous %}
            <li><a href="{% url 'complaint:manage_sort' sort  page_obj.previous_page_number %}">&laquo;</a></li>
          {% endif %}

          {% for page in page_obj.paginator.page_range %}
            {% ifequal page page_obj.number %}
                <li class="active"><a href="#">{{page}} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="{% url 'complaint:manage_sort' sort  page %}">{{page}} <span class="sr-only">(current)</span></a></li>
            {% endifequal %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li><a href="{% url 'complaint:manage_sort' sort page_obj.next_page_number %}">&raquo;</a></li>
          {% endif %}
        </ul>
    {% endif %}
{% else %}
    <p>Здесь еще нет жалоб :(</p>
{% endif %}
{% endblock %}
