{% extends 'base.html' %}

{% block title %} Подать жалобу на платформу {% endblock %}

{% block content %}
<form class="form-horizontal signup-form" action="/complaint/add/" method="POST">{% csrf_token %}

  {% for hidden in form.hidden_fields %}
	  {{ hidden }}
  {% endfor %}

  	<fieldset>
	<div id="legend">
	  <legend class="">Подать жалобу на платформу</legend>
	</div>

    <div class="control-group">
    <!-- Category -->
	  <label class="control-label" for="id_category">Категория жалобы</label>
	  <div class="controls">
        <select id="id_category">
            <option value="0">К какой категории относится жалоба</option>
            {% for category in category_list %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <select id="id_category1">

        </select>
        <select id="id_category2">

        </select>
        <input type="hidden" name="category_id" id="category_value_id"/>
		<p class="help-block">Выберите категорию для жалобы</p>
        {% include 'errors.html' with error_list=form.category_id.errors %}
	  </div>
	</div>

    <div class="control-group">
	  <!-- Title -->
	  <label class="control-label" for="title">Заголовок жалобы</label>
	  <div class="controls">
		<input type="text" id="title" name="title" placeholder="Заголовок жалобы" class="input-xlarge" value="{{ form.title.value|default:'' }}">
		<p class="help-block">Введите заголовок жалобы</p>
        {% include 'errors.html' with error_list=form.title.errors %}
	  </div>
	</div>

    <div class="control-group">
    <!-- Description -->
	  <label class="control-label" for="description">Описание жалобы</label>
	  <div class="controls">
        <textarea name="description" id="description" class="input-xlarge" rows="10">{{ form.description.value|default:'' }}</textarea>
		<p class="help-block">Опишите вкратце вашу жалобу</p>
        {% include 'errors.html' with error_list=form.description.errors %}
	  </div>
	</div>

    <div class="control-group">
	  <!-- Home phone -->
	  <label class="control-label" for="home_phone">Лицевой счет</label>
	  <div class="controls">
		<input type="text" id="home_phone" name="home_phone" placeholder="Лицевой счет" class="input-xlarge" value="{{ form.home_phone.value|default:'' }}">
		<p class="help-block">Введите лицевой счет: (0000000)</p>
        {% include 'errors.html' with error_list=form.home_phone.errors %}
	  </div>
	</div>

    <div class="control-group">
	  <!-- Mobile -->
	  <label class="control-label" for="mobile">Мобильный телефон</label>
	  <div class="controls">
		<input type="text" id="mobile" name="mobile" placeholder="Мобильный телефон" class="input-xlarge" value="{{ form.mobile.value|default:'' }}">
		<p class="help-block">Введите мобильный телфон: (+77020000000)</p>
        {% include 'errors.html' with error_list=form.mobile.errors %}
	  </div>
	</div>

    <div class="control-group">
    <!-- Region -->
	  <label class="control-label" for="id_region">Регион проживания</label>
	  <div class="controls">
        <select name="region_id" id="id_region">
            <option value="0">Выберите регион проживания</option>
            {% for region in region_list %}
                {% if region.id == user.profile.region_id %}
                    <option value="{{ region.id }}" selected>{{ region.name }}</option>
                {% else %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
		<p class="help-block">Выберите регион проживания</p>
        {% include 'errors.html' with error_list=form.region_id.errors %}
	  </div>
	</div>

    <div class="control-group">
    <!-- City -->
	  <label class="control-label" for="id_city">Город проживания</label>
	  <div class="controls">
        <select name="city_id" id="id_city">
            <option value="0">Выберите город проживания</option>
            {% for city in city_list %}
                {% if city.id == user.profile.city_id %}
                    <option value="{{ city.id }}" selected>{{ city.name }}</option>
                {% else %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
		<p class="help-block">Выберите город проживания</p>
        {% include 'errors.html' with error_list=form.city_id.errors %}
	  </div>
	</div>

	<div class="control-group">
	  <!-- Button -->
	  <div class="controls">
		<button class="btn btn-success">Пожаловаться!</button>
	  </div>
	</div>
  </fieldset>
</form>
{% endblock %}

{% load static %}

{% block js %}
<script src="{% static 'js/location.js' %}"></script>
<script src="{% static 'js/complaint.form.js' %}"></script>
{% endblock %}
