{% extends 'base.html' %}

{% block title %}  Статистика в разрезе по оценкам обидчиков по всей стране за период с {{from|date:"d/m/Y"}} по {{to|date:"d/m/Y"}} {% endblock %}

{% block content %}

{% block stat_title %}
<h3>Статистика в разрезе по оценкам обидчиков по всей стране за период с {{from|date:"d/m/Y"}} по {{to|date:"d/m/Y"}}</h3>
<hr>
{% endblock %}

{% include 'map_report.html' with regions=region values=value colors=color codes=code%}
{% include 'bar_report.html' with value="/complaint/report" from=from to=to %}

<hr>
<div class="">
    <h3>Объяснение к цветам карты</h3>
    <div><span class="square" style="background: #{{GREY}};"></span> - нет жалоб или жалобы еще не оценены</div>
    <div><span class="square" style="background: #{{RED}};"></span> - средняя оценка в интервале [1; 2)</div>
    <div><span class="square" style="background: #{{YELLOW}};"></span> - средняя оценка в интервале [2; 3)</div>
    <div><span class="square" style="background: #{{BLUE}};"></span> - средняя оценка в интервале [3; 4)</div>
    <div><span class="square" style="background: #{{GREEN}};"></span> - средняя оценка в интервале [4; 5]</div>
</div>

<hr>
<h3>Детальнее по регионам Казахастана</h3>
{% for region in region_list %}
    <div><a href="/complaint/report/{{ region.id }}/{{ from|date:'d-m-Y' }}/{{ to|date:'d-m-Y' }}/">{{region.name}}</a></div>
{% endfor %}
{% endblock %}

{% block js %}
{% endblock %}

