{% extends 'base.html' %}

{% block title %} Список моих жалоб на платформе {% endblock %}

{% block content %}
<h2>Список моих жалоб на платформе</h2>
{% if complaint_list %}
      <table id="cars" class="table table-striped table-bordered table-condensed table-hover">
          <tr>
              <th>Заголовок жалобы</th>
              <th>Категория жалобы</th>
              <th>Текущий статус</th>
              <th>Дата подачи жалобы</th>
          </tr>
        {% for complaint in complaint_list %}
            <tr>
                <td><a href="{% url 'complaint:view' complaint.id %}">{{ complaint.title }}</a></td>
                <td>{{ complaint.category.name }}</td>
                <td>{{ complaint.status.name }}</td>
                <td>{{ complaint.date_created|date:"d/m/Y" }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'complaint:my' page_obj.previous_page_number %}">Предыдущая</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'complaint:my' page_obj.next_page_number %}">Следующая</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>Здесь еще нет жалоб :(</p>
{% endif %}
{% endblock %}
