<div class="progress">
  <div class="progress-bar
  {% if progress <= 25 %}
    progress-bar-danger
    progress-bar-striped
    active
  {% elif progress <= 50 %}
    progress-bar-warning
    progress-bar-striped
    active
  {% elif progress <= 90 %}
    progress-bar-info
    progress-bar-striped
    active
  {% elif progress <= 95 %}
    progress-bar-success
    progress-bar-striped
    active
  {% else %}
    progress-bar-success
  {% endif %}
  " role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress|floatformat:0 }}%">
    {{progress|floatformat:1}}%
  </div>
</div>