{% extends 'report.html' %}
{% block title %} Статистика в разрезе по оценкам обидчиков региона "{{ region.name }}" за период с {{from|date:"d/m/Y"}} по {{to|date:"d/m/Y"}} {% endblock %}


{% block stat_title %}
<h3>Статистика в разрезе по оценкам обидчиков региона "{{ region.name }}" за период с {{from|date:"d/m/Y"}} по {{to|date:"d/m/Y"}}</h3>
<hr>
{% endblock %}
{% block city_chart%}
<h3>Средняя оценка обидчиков по обработке жалобы в городах "{{ region.name }}" за период с {{from|date:"d/m/Y"}} по {{to|date:"d/m/Y"}}</h3>
<hr>
{% load custom_tags %}
<div style="padding-top: 40;padding-bottom:40px">
    {% load chart_tags %}
    {% chart %}
         chs=750x400
         cht=bhs
         chxt=x,y
         chxl=0:|0|1|2|3|4|5|1:|{{city|reverse|space2plus|join:"|"}}
         chco={{rcolor|join:"|"}}
         chds=0,5
         chd=t:{{ average|join:"," }}
    {% endchart %}
    <!--chdl={{city|join:"|"}}-->
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/complaint.rating.report.js"></script>
{% endblock %}