{% extends 'base.html' %}

{% block title %} Вы успешно подали жалобу {% endblock %}

{% block content %}
    <h2>Вы успешно подали жалобу</h2>
    <a href="{% url 'complaint:my' 1 %}">Список моих жалоб</a>
{% endblock %}
