{% extends 'base.html' %}

{% block title %} {{ complaint.title | capfirst }} {% endblock %}

{% block content %}
    <h2>{{ complaint.title | capfirst }}</h2>
    <div class="description">{{ complaint.description|linebreaks }}</div>
    {% if complaint.status_id == COMPLAINT_CLOSED %}
        {% ifequal complaint.user_id user.id %}
            {% ifequal complaint.ratio 0 %}
                <hr>
                <h4>Оцените работу проделанную по разрешению жалобы</h4>
                <div class="text">
                    <i>Внимание, если вы не оцените жалобу, по умолчанию она останется оцененной как <i><strong>"очень плохо"</strong></i>. Если вам действительно помогли по вашему вопросы, просьба оценит работу как есть. От вашей оценки зависят рейтинги исполнителей. Вы также можете оставить свои предложения и комментарии в меню "Обратная связь".</i>
                </div>
                <form id="rate-form" action="/complaint/rate/" method="POST">{% csrf_token %}
                    <div class="rate-pnl">
                        <span id="rate" data-score="0"></span>
                        <span id="rate-target"></span>
                        <input type="hidden" name="ratio" id="ratio" value="{{ complaint.ratio }}">
                        <input type="hidden" name="complaint_id" value="{{ complaint.id }}">
                    </div>
                </form>
                <div id="raty-response" class="ajax-response">Спасибо, ваша оценка успешно сохранена :)</div>
            {% endifequal %}
        {% endifequal %}

        {% if complaint.ratio > 0 %}
            <hr>
            <h4>Оценка по работе разрешения жалобы</h4>
            <div class="rate-pnl">
                <span id="rate" data-score="{{ complaint.ratio }}" data-readonly="true"></span>
                <span id="rate-target"></span>
            </div>
        {% endif %}
    {% endif %}

    <hr>
    <h4>Информация по жалобе</h4>
    <div class="pnl">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>Время подачи</th>
                <th>Время последнего изменения</th>
                <th>Категория</th>
                <th>Текущий статус</th>
                <th>Лицевой счет</th>
                <th>Источник(Местоположение)</th>
            </tr>
            <tr>
                <td>{{ complaint.date_created|date:"d/m/Y в H:i:s" }}</td>
                <td>{{ complaint.date_modified|date:"d/m/Y в H:i:s" }}</td>
                <td>{{ complaint.category.name }}</td>
                <td>{{ complaint.status.name }}</td>
                <td>{{ complaint.home_phone }}</td>
                <td>{{ complaint.region.name }}, {{ complaint.city.name }}</td>
            </tr>
        </table>
    </div>
    <hr>
    <h4>Жалоба обработана на {{ progress|floatformat:1 }}%</h4>
    <div class="pnl">
        {% include 'complaint/progress.html' with progress=progress %}
    </div>
    <hr>
    <h4>Информация об авторе обращения</h4>
    <div class="pnl">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>Ф.И.</th>
                <th>Email</th>
                <th>Мобильный телефон</th>
                <th>Источник(Местоположение)</th>
            </tr>
            <tr>
                <td>{{ author.user.first_name }} {{ author.user.last_name }}</td>
                <td>{{ author.user.email }}</td>
                <td>{{ author.mobile }}</td>
                <td>{{ author.region.name }}, {{ author.city.name }}</td>
            </tr>
        </table>
    </div>
    <hr>
    <div id="history_toggle">
        <h4>История управления жалобой ({{ history|length }}) <span class="arrow arrow-down"></span></h4>

    </div>
    <div id="history_menu" style="display:none">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>Статус жалобы</th>
                <th>Время смены статуса</th>
                <th>Ответственный за смену статуса</th>
                <th>Комментарий по проделанной работе</th>
                <th>Текст письма уведомления обидчику</th>

            </tr>
            {% for hstr in history %}
            <tr>
                <td>{{ hstr.status.name }}</td>
                <td>{{ hstr.date_created|date:"H:i:s, d/m/Y" }}</td>
                <td>{{ hstr.user.first_name }}  {{ hstr.user.last_name }}</td>
                <td>{{ hstr.work_text }}</td>
                <td><a href="#" show-text="hidden-text">Показать текст</a><div style="display:none">{{ hstr.email_text }}</div></td>
            </tr>
            {% endfor%}
        </table>
    </div>

    {% if can_subscribe %}
    <hr>
    <h4>Меню выбора исполнителей жалобы</h4>
    <div class="managers">
        <form action="/complaint/subscribe/" method="POST"> {% csrf_token %}
            <select name="manager_id" id="manager_list">
                <option value="0">Выберите исполнителя для выполнения жалобы</option>
                {% for manager in managers %}
                <option value="{{ manager.user_id }}">{{ manager.user.first_name }} {{ manager.user.last_name }} </option>
                {% endfor %}
            </select>
            <input type="hidden" name="complaint_id" value="{{ complaint.id }}">
            <input type="submit" value="Добавить/Удалить" class="btn btn-success">
        </form>
    </div>
    <br>
    <h4>Исполнители участвующие в процессе</h4>
    <div class="manager">
        {% if responsible %}
            <table class="table table-striped table-bordered table-condensed table-hover" id="responsible_table">
            {% for manager in responsible %}
                <tr>
                    <td>{{ manager.user.first_name }} {{ manager.user.last_name }}</td>
                    <td>{{ manager.user.email }}</td>
                <tr>
            {% endfor %}
            </table>
        {% else %}
            В процессе пока никто не участвеут
        {% endif %}
    </div>
    {% endif %}

    {% if unsubscribe %}
    <div id="unsubscr-div">
        <hr>
        <h4>Меню отписки от жалобы</h4>
        <form action="/complaint/unsubscribe/" method="POST" id="unsubscr-form"> {% csrf_token %}
            <input type="hidden" name="complaint_id" value="{{ complaint.id }}">
            <input type="hidden" name="manager_id" value="{{ user.id }}">
            <input type="submit" value="Отписаться от жалобы" class="btn btn-danger" id="unsubscr-btn">
        </form>
    </div>
    <div id="unsubscr-response" class="ajax-response">Вы успешно отписались от жалобы</div>
    {% endif %}

    {% if can_edit %}
        <hr>
        <div id="complaint_toggle">
            <h4>Панель управления жалобой <span class="arrow arrow-down"></span></h4>
        </div>
        <div id="complaint_menu" style="display:none">
            <form action="/complaint/update/" method="POST"> {% csrf_token %}
                <div class="control-group">
                  <!-- Expire date -->
                  <label class="control-label" for="datetime">Крайний срок исполнения</label>
                  <div class="controls">
                      <input type="text" id="datetime" name="date_expire" placeholder="" class="input-xlarge datepicker" value="{{ complaint.date_expire|date:"d/m/Y" }}">
                      <p class="help-block">Крайний срок исполнения жалобы</p>
                  </div>
                </div>
                {% if can_scenario %}
                <div class="control-group">
                  <!-- Scenario -->
                  <label class="control-label" for="scenario">Сценарий жалобы</label>
                  <div class="controls">
                      <select name="scenario_id" id="scenario">
                        {% for scenario in scenario_list %}
                          <option value="{{ scenario.id }}" {% ifequal scenario.id complaint.scenario_id %} selected {% endifequal %} >{{ scenario.name }}</option>
                        {% endfor %}
                      </select>
                      <p class="help-block">Крайний срок исполнения жалобы</p>
                  </div>
                </div>
                {% endif %}

                <div class="control-group">
                  <!-- Status -->
                  <label class="control-label" for="status">Статус жалобы</label>
                  <div class="controls">
                      <select name="status_id" id="status">
                        <option value="0">Выберите статус из списка</option>
                        {% for s in states %}
                            {% if s.status.id == complaint.status_id %}
                                <option value="{{ s.status_id }}" selected> {{ s.status.name }} </option>
                            {% else %}
                                <option value="{{ s.status_id }}"> {{ s.status.name }} </option>
                            {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                  <p class="help-block">Изменение статуса жалобы</p>
                </div>
                <div class="control-group">
                  <!-- Comment -->
                  <label class="control-label" for="work_text">Прокомметируйте смену статуса</label>
                  <div class="controls">
                      <textarea name="work_text" id="work_text" cols="50" rows="10"></textarea>
                  </div>
                  <p class="help-block">Прокомментируйте смену статуса</p>
                </div>

                <div class="control-group">
                  <!-- Text for user -->
                  <label class="control-label" for="email_text">Текст оповещения пользователю</label>
                  <div class="controls">
                      <textarea name="email_text" id="email_text" cols="50" rows="10"></textarea>
                  </div>
                  <p class="help-block">Текст оповещения пользователю</p>
                </div>
                <input type="hidden" name="complaint_id" value="{{ complaint.id }}">
                <div class="control-group">
                  <!-- Button -->
                  <div class="controls">
                    <button class="btn btn-success">Обновить статус</button>
                  </div>
                </div>
            </form>
        </div>
    {% endif %}

    <hr>
    <div id="comment_toggle">
        <h4>Обратная связь (<span id="comment-cnt">{{ comment_list|length }}</span>) <span class="arrow arrow-up"></span></h4>
    </div>
    <div id="comment_menu">
        {% for comment in comment_list %}
            {% include 'comment/comment.html' with comment=comment %}
        {% endfor %}
    </div>
    <form action="/comment/add/" method="POST" id="comment-form"> {% csrf_token %}
        <div class="comment">
            <div class="comment-header">
                <span class="comment-author">{{ user.first_name }} {{ user.last_name }}</span>
            </div>
            <div class="comment-body">
                <textarea name="text" id="comment-text"></textarea>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Комментировать" id="comment_btn">
            <img src="/static/img/loader.gif" style="visibility:hidden" id="comment-loader">
            {% if toggle_visible %}
            <input type="checkbox" name="visible"><span class="checkbox-hint">Сделать видимым для обидчика</span>
            {% else %}
            <input type="hidden" name="visible" value="1">
            {% endif %}
            <input type="hidden" name="complaint_id" value="{{ complaint.id }}">
        </div>
    </form>
{% endblock %}

{% load static %}

{% block js %}
<script src="{% static 'js/complaint.view.js' %}"></script>
{% endblock %}
