{% extends 'base.html' %}

{% block title %} Ваш аккаунт успешно активирован {% endblock %}

{% block content %}
    <h2>Ваш аккаунт успешно активирован</h2>
    <a href="{% url 'auth:signin' %}"><button class="btn btn-success">Авторизоваться</button></a>
{% endblock %}
