{% extends 'base.html' %}

{% block title %} Извините, доступ к этой странице запрещен {% endblock %}
{% load static %}
{% block content %}
      <h1>Извините, доступ к этой странице запрещен :(</h1>
      <h3>Возможные причины:</h3>
      <ul>
        <li>У вас недостаточно прав для доступа к этой странице</li>
      </ul>
      <img src="{% static 'img/denied.jpg' %}">
{% endblock %}