{% extends 'base.html' %}

{% block title %} Ваш пароль успешно обновлен {% endblock %}

{% block content %}
    <h2>Ваш пароль успешно обновлен</h2>
    <a href="{% url 'complaint:my' 1%}"><button class="btn btn-info">Список моих жалоб</button></a>
    <a href="{% url 'complaint:add' %}"><button class="btn btn-success">Пожаловаться</button></a>
{% endblock %}
