{% extends 'base.html' %}

{% block title %} Смена пароля {% endblock %}

{% block content %}
<form class="form-horizontal signup-form" action="{% url 'auth:pchange' %}" method="POST">{% csrf_token %}

  	<fieldset>
	<div id="legend">
	  <legend class="">Смена пароля</legend>
	</div>
    <div class="control-group">
	  <!-- old password -->
	  <label class="control-label" for="id_old_password">Старый пароль</label>
	  <div class="controls">
          {{ form.old_password }}
		<!--<input type="text" id="old_password" name="old_password" placeholder="Старый пароль" class="input-xlarge">-->
        <p class="help-block">Введите ваш текущий пароль</p>
        {% include 'errors.html' with error_list=form.old_password.errors %}
	  </div>
	</div>

	<div class="control-group">
	  <!-- new password-->
	  <label class="control-label" for="id_new_password">Новый пароль</label>
	  <div class="controls">
        <!--<input type="password" id="new_password" name="new_password" placeholder="Новый пароль" class="input-xlarge">-->
          {{ form.new_password }}
          <p class="help-block">Введите ваш новый пароль (минимум 5 символов)</p>
        {% include 'errors.html' with error_list=form.new_password.errors %}
	  </div>
	</div>
    <br/>
    <div class="control-group">
	  <!-- Button -->
	  <div class="controls">
		<button class="btn btn-success">Изменить</button>
	  </div>
	</div>
  </fieldset>
</form>
{% endblock %}
