{% extends 'base.html' %}

{% block title %} Сброс пароля на платформе {% endblock %}

{% block content %}
<form class="form-horizontal signup-form" action="/auth/reset/" method="POST">{% csrf_token %}

  	<fieldset>
	<div id="legend">
	  <legend class="">Сброс пароля</legend>
	</div>
    {% if error %}
    <div class="control-group error">
      <div class="controls">
        <span class="help-inline">{{ error }}</span>
      </div>
    </div>
    {% endif %}
	<div class="control-group">
	  <!-- Username -->
	  <label class="control-label" for="email">E-mail</label>
	  <div class="controls">
		<input type="text" id="email" name="email" placeholder="Ваш email адрес" class="input-xlarge">
        <button class="btn btn-success">Сбросить</button>
	  </div>
	</div>
  </fieldset>
</form>
{% endblock %}
