{% extends 'base.html' %}

{% block title %} Вы успешно авторизовались {% endblock %}

{% block content %}
    <h2>Вы успешно сбросили пароль</h2>
    <hr>
    <div style="padding-bottom: 10px;">Вы успешно сбросили парль. Мы выслали вам email с инструкциями по авторизации на платформу.</div>
    <a href="{% url 'auth:signin' %}"><button class="btn btn-success">Авторизоваться</button></a>
{% endblock %}
