{% extends 'base.html' %}

{% block title %} Регистрация на платформу по жалобам {% endblock %}

{% block content %}
<form class="form-horizontal signup-form" action="/auth/signup/" method="POST">{% csrf_token %}

  {% for hidden in reg_form.hidden_fields %}
	  {{ hidden }}
  {% endfor %}

  	<fieldset>
	<div id="legend">
	  <legend class="">Регистрация на платформу по жалобам</legend>
	</div>

    <div class="control-group">
	  <!-- First name -->
	  <label class="control-label" for="first_name">Имя</label>
	  <div class="controls">
		<input type="text" id="first_name" name="first_name" placeholder="Имя" class="input-xlarge">
		<p class="help-block">Введите ваше имя</p>
        {% include 'errors.html' with error_list=reg_form.first_name.errors %}
	  </div>
	</div>

    <div class="control-group">
    <!-- Last name -->
	  <label class="control-label" for="last_name">Фамилия</label>
	  <div class="controls">
		<input type="text" id="last_name" name="last_name" placeholder="Фамилия" class="input-xlarge">
		<p class="help-block">Введите вашу фамилию</p>
        {% include 'errors.html' with error_list=reg_form.last_name.errors %}
	  </div>
	</div>

    <div class="control-group">
    <!-- Region -->
	  <label class="control-label" for="region">Регион проживания</label>
	  <div class="controls">
        {{ profile_form.region }}
		<p class="help-block">Выберите регион проживания</p>
        {% include 'errors.html' with error_list=profile_form.region.errors %}
	  </div>
	</div>

    <div class="control-group">
    <!-- City -->
	  <label class="control-label" for="city">Город проживания</label>
	  <div class="controls">
        {{ profile_form.city }}
		<p class="help-block">Выберите город проживания</p>
        {% include 'errors.html' with error_list=profile_form.region.errors %}
	  </div>
	</div>

	<div class="control-group">
	  <!-- Username -->
	  <label class="control-label" for="username">Имя пользователя</label>
	  <div class="controls">
		<input type="text" id="username" name="username" placeholder="" class="input-xlarge">
		<p class="help-block">Имя пользователя может содержать только символы и цифры без пробелов</p>
        {% include 'errors.html' with error_list=reg_form.username.errors %}
	  </div>
	</div>

	<div class="control-group">
	  <!-- E-mail -->
	  <label class="control-label" for="email">E-mail</label>
	  <div class="controls">
		<input type="text" id="email" name="email" placeholder="" class="input-xlarge">
		<p class="help-block">Введите ваш E-mail адрес</p>
        {% include 'errors.html' with error_list=reg_form.email.errors %}
	  </div>
	</div>

	<div class="control-group">
	  <!-- Password-->
	  <label class="control-label" for="password">Пароль</label>
	  <div class="controls">
		<input type="password" id="password" name="password" placeholder="" class="input-xlarge">
		<p class="help-block">Пароль должен содержать как минимум 5 символов</p>
        {% include 'errors.html' with error_list=reg_form.password.errors %}
	  </div>
	</div>

	<div class="control-group">
	  <!-- Button -->
	  <div class="controls">
		<button class="btn btn-success">Зарегестрироваться</button>
	  </div>
	</div>
  </fieldset>
</form>
{% endblock %}

{% load static %}

{% block js %}
<script src="{% static 'js/location.js' %}"></script>
{% endblock %}
