{% extends 'base.html' %}

{% block title %} Авторизация на платформу по жалобам {% endblock %}

{% block content %}
<form class="form-horizontal signup-form" action="/auth/signin/" method="POST">{% csrf_token %}

  	<fieldset>
	<div id="legend">
	  <legend class="">Авторизация на платформу по жалобам</legend>
	</div>
    {% if form.errors %}
    <div class="control-group error">
      <div class="controls">
        <span class="help-inline">Неверный пароль или имя пользователя</span>
      </div>
    </div>
    {% endif %}
	<div class="control-group">
	  <!-- Username -->
	  <label class="control-label" for="username">Имя пользователя</label>
	  <div class="controls">
		<input type="text" id="username" name="username" placeholder="Имя пользователя" class="input-xlarge">
	  </div>
	</div>

	<div class="control-group">
	  <!-- Password-->
	  <label class="control-label" for="password">Пароль</label> (<a class="password-forgot" href="{% url 'auth:reset' %}">Забыли пароль?</a>)
	  <div class="controls">
        <input type="password" id="password" name="password" placeholder="Пароль" class="input-xlarge">
	  </div>
	</div>
    <br/>
    <input type="hidden" name="next" value="{{next}}" />
	<div class="control-group">
	  <!-- Button -->
	  <div class="controls">
		<button class="btn btn-success">Авторизоваться</button>
	  </div>
	</div>
  </fieldset>
</form>
{% endblock %}
