{% extends 'base.html' %}

{% block title %} Вы успешно авторизовались {% endblock %}

{% block content %}
    <h2>Вы успешно авторизовались на платформу</h2>
    <a href="{% url 'complaint:my' 1%}"><button class="btn btn-info">Список моих жалоб</button></a>
    <a href="{% url 'complaint:add' %}"><button class="btn btn-success">Пожаловаться</button></a>
{% endblock %}
