{% extends 'base.html' %}

{% block title %} Вы успешно зарегестрировались на плфтформе {% endblock %}

{% block content %}
    <h2>Вы успешно зарегестрировались на платформе</h2>
    <hr>
    <div style="padding-bottom: 10px;">Вы успешно зарегестрировались на платформе. Для того чтобы активировать аккаунт, пройдите по ссылке, которую мы вам выслали на email.</div>
    <a href="{% url 'auth:signin' %}"><button class="btn btn-success">Авторизоваться</button></a>
{% endblock %}
